/* For ALL PAGES ************************************************************ */
* {
  font-family: 'Lato', sans-serif; }

body {
  background-color: #F2E1AC;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 3em; }

header {
text-align: center;
margin: 2em auto 1em auto;
max-width: 100%;
min-height: 130px;
border: 0px solid #63A69F;
display: flex;
flex-direction: row; }

.logo {
  margin: auto 50px auto 50px;
  margin-bottom: 20px;
  height: 130px; }

h1 {
  margin: auto auto auto 10px;
  color: #CD2C24;
  font-size: 72px;
  font-family: 'Lobster', cursive;
  letter-spacing: -2.7px; }

h2, h3 {
  color: #CD2C24;
  margin: 1em; }

h3 {
  font-size: 36px; }

#links > li { /* Links in top-right side of page */
  display: block;
  text-align: right;
  margin-top: 2em; }

main {
  margin: auto;
  border: solid #63A69F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative; }

footer {
  text-align: left;
  font-style: italic; }

hr {
  border: 1px solid #63A69F;}

/* For INDEX.HTML *********************************************************** */

/* Left-side stuff - form */
aside {
  background-color: #F2594B;
  width: 24%; }

fieldset {
  border: 0px;
  margin: 1em auto; }

legend {
  font-weight: bold;
  color: #111; }

button {
  margin: 1em 2em 1em 1em;
}

/* #firstFieldset label, #secondFieldset label {
  display: block; } */

/* #secondFieldset input {
  display: inline; } */

/* Right-side stuff - description and map */

.formwrapper {
  display: block; }

.hungry {
  margin: auto;
  text-align: center;
  font-size: 24px;
  color: #CD2C24;
  margin-top: 1em; }

#hungry { /* Just the word "Hungry?" on the homepage */
  font-weight: bold; }

.description {
  width: 70%;
  min-height: 100px;
  margin: 1em auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.description p {
  margin: 1em auto;
  padding: 3px;
  min-height: 130px;
  width: 33%;
  border: 1px; }

#map {
/* width:600px; */
width: 90%;
height:456px;
min-width: 300px;
margin: auto;
margin-bottom: 2em;
position: relative; }

#displaySearchResults { /* Table */
  margin: auto; }

tr {
  margin-bottom: 2em;
}

/* For REVIEW.HTML ********************************************************** */

.detail {
  display: block;
  margin: 1em; }

.reviewForm {
  display: block;}

#firstFieldset {
  margin: auto;
  margin-right: 6em;
  margin-top: 1em; }

#firstFieldset form > * {
  display: block;
  margin-top: 1em;
  margin-right: 6em; }

/*.rating {
  display: inline; }*/

.reviewWrapper {
  margin: auto auto auto 2em; }

/* For ABOUT.HTML *********************************************************** */

.name {
  font-weight: bold; }


/* For rating**************************************************************** */
.rateTitle {
  color: white;
  font-size: 1em;
  margin-top: 10px;
}

.ratings {
  /*margin-right: 200px;*/

/*  border: solid;*/
  display: flex;
  flex-direction: column;
  justify-content:center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content:center;
}

.rateberrys {
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  width: 200px;
  /*justify-content: space-around;
  -webkit-justify-content: space-around;*/
}

.berrys {
  border:solid black 0px;
}

/*#ratingsimage{
  height: 300px;
  width: 300px;
  border: solid white;
  border-width: 2px 2px 15px 2px;
}*/

#rateDiv{
  align-self:center;
  -webkit-align-self:center;
}
